@keyframes extend {
  from {
    width: 50%;
  }

  to {
    width: 75%;
  }
}

@keyframes shrink {
  from {
    width: 75%;
  }

  to {
    width: 50%;
  }
}

header {
  position: absolute;
  /*  */
  width: 100%;
  /*  */
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: var(--alabaster);
  /*  */
  z-index: 2;

  & h1 {
    font-weight: bold;
  }

  & h2 {
    font-style: italic;
  }
}

main {
  font-family: "Times New Roman", Times, serif;
}

@media screen and (min-width: 1081px) {
  /* LARGE */
  header {
    padding: 2% 0;

    & h1 {
      font-size: 52px;
      letter-spacing: -2px;
    }

    & h2 {
      font-size: 20px;
      letter-spacing: -0.5px;
    }
  }

  main {
    display: flex;

    & section {
      width: 50dvw;
      height: 100dvh;
      /*  */
      overflow: hidden;
      /*  */
      animation-duration: 750ms;
      animation-name: shrink;

      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /*  */
        height: 100dvh;

        & h3 {
          display: flex;
          align-items: center;
          align-self: center;
          position: absolute;
          /*  */
          font-size: 24px;
          letter-spacing: -2px;
          color: var(--alabaster);
          z-index: 1;
        }
      }
    }

    & .still-active,
    .life-active,
    .still-shrunk,
    .life-shrunk {
      animation-duration: 750ms;
      animation-fill-mode: forwards;
    }

    & .life-active,
    .still-active {
      animation-name: extend;
    }

    & .life-shrunk,
    .still-shrunk {
      animation-name: shrink;
    }

    & img {
      filter: brightness(0.7);
      height: 100dvh;
    }

    & .still-img {
      float: left;
    }

    & .life-img {
      float: right;
      /*  */
      transform: scaleX(-1);
    }
  }

  footer {
    /*  */
    width: 100%;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    /*  */
    z-index: 1;
    letter-spacing: -2px;

    & .bio-container {
      font-family: "Times New Roman", Times, serif;
      font-size: 20px;
      text-decoration: none;
      /*  */
      color: var(--alabaster);
      /*  */
      border-radius: 5px;
      /*  */
      padding: 10px;
      margin: 10px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  /* MEDIUM */
}

@media screen and (max-width: 767px) {
  /* SMALL */
  header {
    padding: 5% 0;

    & h1 {
      font-size: 40px;
      letter-spacing: -2px;
    }

    & h2 {
      letter-spacing: -1px;
    }
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*  */
    overflow: hidden;

    & section {
      width: 50dvw;
      height: 100dvh;

      & a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /*  */
        height: 100dvh;

        & h3 {
          position: absolute;
          align-self: center;
          /*  */
          font-size: 24px;
          letter-spacing: -2px;
          color: var(--alabaster);
          z-index: 1;
        }

        & .still-img {
          float: right;
          /*  */
          transform: scaleX(-1);
        }
      }
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /*  */
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    /*  */
    padding: 2% 0;

    & .bio-container {
      font-size: 20px;
      letter-spacing: -2px;
      color: var(--alabaster);
      text-decoration: none;
    }
  }
}
