@keyframes extend {
  from {
    width: 50%;
  }

  to {
    width: 75%;
  }
}

@keyframes shrink {
  from {
    width: 75%;
  }

  to {
    width: 50%;
  }
}

@media screen and (min-width: 1081px) {
  /* LARGE */
  header {
    position: absolute;
    height: auto;
    width: 100%;
    /*  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*  */
    z-index: 1;
    /*  */
    color: var(--alabaster);

    & .title-container {
      font-family: "Times New Roman", Times, serif;
      /*  */
      padding: 10px;
      margin: 10px;
      /*  */
      border-radius: 5px;

      & h1 {
        font-size: 32px;
        font-family: "Times New Roman", Times, serif;
        text-align: center;
        letter-spacing: -2px;
      }

      & h2 {
        font-size: 20px;
        font-style: italic;
        font-family: "Times New Roman", Times, serif;
        text-align: center;
        letter-spacing: 10px;
      }
    }
  }

  main {
    display: flex;
    /*  */
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;

    & section {
      width: 50%;
      height: 100%;
      /*  */
      overflow: hidden;
      /*  */
      animation-duration: 750ms;
      animation-name: shrink;

      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        /*  */
        text-decoration: none;

        & h3 {
          font-family: "Times New Roman", Times, serif;
          font-size: 24px;
          letter-spacing: -2px;
          z-index: 1;
          /*  */
          color: var(--alabaster);
          /*  */
          display: flex;
          align-items: center;
          align-self: center;
          position: absolute;
          /*  */
          height: 100dvh;
        }
      }
    }

    & .life-active,
    .still-active {
      animation-duration: 750ms;
      animation-name: extend;
      animation-fill-mode: forwards;
    }

    & .life-shrunk,
    .still-shrunk {
      animation-duration: 750ms;
      animation-name: shrink;
      animation-fill-mode: forwards;
    }

    & img {
      filter: brightness(0.7);
      height: 100dvh;
    }

    & .still-img {
      float: left;
    }

    & .life-img {
      float: right;
      /*  */
      transform: scaleX(-1);
    }
  }

  footer {
    /*  */
    width: 100%;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    /*  */
    z-index: 1;
    letter-spacing: -2px;

    & .bio-container {
      font-family: "Times New Roman", Times, serif;
      font-size: 20px;
      text-decoration: none;
      /*  */
      color: var(--alabaster);
      /* background-color: var(--black); */
      /*  */
      border-radius: 5px;
      /*  */
      padding: 10px;
      margin: 10px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  /* MEDIUM */
}

@media screen and (max-width: 767px) {
  /* SMALL */
}
